

<div width="100%" align="left">
  
  <div style="background-color:#b3a0d1;height: 35px;">
  <tr> <td style="font-size: 25px ; color:red; position:relative;left:45%;" align="middle" width="50%" > <header style="position:relative;">M.S CBSE School (Coimbatore, TamilNadu)</header></td>   
    <label style="color: black; text-align: right; position: relative;top:auto;left:-400px"  >{{ emailId }}</label>  <br> 
  <hr>
<nav >
   <th style="position:relative;left:05%;" >

<a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
         </th>
     <th style="position:relative;left:10%">
    <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>   
</th>
<th style="position:relative;left:15%">
  <a routerLink="/admin" [hidden]="IsLogout" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a>   
</th>

<th style="position:relative;left:20%">
  <a routerLink="/signup"[hidden]="IsLogout"  routerLinkActive="active" ariaCurrentWhenActive="page">Signup</a>   
</th>

<th style="position:relative;left:25%">
  <a routerLink="/login"  [hidden]="IsLogout" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>   
</th>


<th style="position:relative;left:15%">
<a routerLink="/Logout" [hidden]="!IsLogout" (click)="Onlogout()"   >Logout</a>  
</th>
<th style="position:relative;left:20%">
  <a routerLink="/circular" [hidden]="!adminModuleshow" routerLinkActive="active" ariaCurrentWhenActive="page">AddCircular</a>   
</th>

<th style="position:relative;left:20%">
  <a routerLink="/viewcircular" [hidden]="!IsUsermoduleshow" routerLinkActive="active" ariaCurrentWhenActive="page">ViewCircular</a>   
</th>
<th style="position:relative;left:25%">
  <a routerLink="/updateparent" [hidden]="!IsUsermoduleshow" routerLinkActive="active" ariaCurrentWhenActive="page">UpdateInfo</a>   
</th>
<th style="position:relative;left: 60px">
  <a routerLink="/ParentStatus" [hidden]="!adminModuleshow" routerLinkActive="active" ariaCurrentWhenActive="page">Status</a>   
</th>
</nav>
</tr>
</div>

<router-outlet></router-outlet>

