<hr><br>
 <h1 style="position:relative;right:10px">
  <!-- <table>   <tr>
    <td >
        <img ng-if="vm.dataLoading" src="https://toppng.com/public/uploads/preview/forgot-my-password-icon-2-forgot-password-icon-format-11553450772x3lgyxvfvc.png"  width="20%" height="20%" />
    </td> -->

    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h2 style="font-size: 20px ; color: red;" >FORGOT-PASSWORD</h2>
            <p  style="font-size: 15px">Enter your registered email to reset your password.</p>
          </div>
        </div>
        <form class="login-form" #form="ngForm"(ngSubmit)="onSubmit()">
          <input type="text" placeholder="Email" name="Email" [(ngModel)]="loggedin.email"  required #lename="ngModel"/>
          <input type="password" placeholder="password" name="password" [(ngModel)]="loggedin.password" required #lname="ngModel"/>
          <button (onclick)="onSubmit()">update</button>
         
        </form>
      </div>
    </div>
    <!-- <td>
            <h2 style="font-size: 20px ; color: red;right:-400px" >FORGET-PASSWORD</h2>
       <form #form="ngForm"(ngSubmit)="onSubmit()" >
<table>

       <tr>   <td style="font-size: 15px ;line-height: 40px;"><label for="">EmailID </label><label *ngIf="lEname.touched&&lEname.invalid" style="color:crimson;font-style:normal;font-size: 5px;">*</label></td><td></td>&nbsp;&nbsp;
        <td></td> <td><input type="text" name="Email" [(ngModel)]="loggedin.email"  required #lEname="ngModel"></td>   </tr> 
         
  
       
        <tr> <td style="font-size: 15px ;line-height: 40px;">   <label for="">Password</label><label *ngIf="lname.touched&&lname.invalid" style="color:crimson;font-style:normal;font-size: small;">*</label></td><td></td>&nbsp;
            <td></td>   <td>   <input type="password" name="password" [(ngModel)]="loggedin.password" required #lname="ngModel"></td></tr> 
     

      
        <th>     <button (onclick)="onSubmit()">Update </button></th> 
        <br>

    </table>         
    </form>  </td>
  </tr>  </table>  
</h1>   -->