<hr>
<br>
<table width="100%" cellPadding="0" cellSpacing="0" border="0">
  <tr>
    <td>
     <img src="https://www.bing.com/th?id=OIP.mDv04OXCj0oaDNveJ07UDQHaFM&w=298&h=209&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" width="100%" height="400" />
    </td>
  
  </tr>  
  </table>
    <table width="100%" cellPadding="0" cellSpacing="0" border="0">
    <tr>
        <td  ><h1 style="font-size: 25px ; color:red;" align="middle">M.S CBSC SCHOOL</h1><br>M.S English Medium High School is centered on the lives of children and is dedicated to the development of their intellect, personality. We actively encourage the process of joyful discovery that is significant to a meaningful and responsible.</td>
    
      <td  ><h1 style="font-size: 25px ; color:red;" align="middle">VISION</h1><br>We believe that character forms the foundation for both intellectual and personal growth. AMS students are active  responsible participants in every aspect of the school community. As our students learn, we expect them to demonstrate.</td>

      <td ><h1 style="font-size: 25px ; color:red;" align="middle">MISSION</h1><br>Our dedicated teachers are mentor and care for children as their own. By example and word, they instill the virtues of compassion and good citizenship. Beyond the classroom, students develop their talent through a wide athletics and the performing arts.</td>
  </tr>
</table>
<table width="100%" cellPadding="0" cellSpacing="0" border="0">
  <tr>
     
    <td ><h1 style="font-size: 25px ; color:red;" align="middle">FACILITIES</h1><br>We encourage the development of self-esteem, independence, curiosity, creativity & competency through meaningful & enjoyable hands-on activities.

      Our activity room is divided into balancing, fruits, vegetables, blocks, alphabets, swar-vyanjan, numbers, shapes Aids. It creates best stimulating environment and aids spontaneous learning.</td>

</tr>
</table>

<!-- <h1>About</h1>
<table>
<tbody *ngFor="let fees of feesdetail">
    <tr>
        <td>{{ fees.id }}</td>
        <td>{{ fees.class}}</td>
        <td>{{ fees.feesStructure }}</td>
    </tr>
  </tbody> 
</table>
<table>
    <tbody *ngFor="let holiday of holidayDetails">
        <tr>
            <td>{{ holiday.id }}</td>
            <td>{{ holiday.holidayDate}}</td>
            <td>{{ holiday.holidayReason }}</td>
        </tr>
      </tbody> 
    </table> -->
